* {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

header {
  padding: 5%;
}

img {
  max-width: 100%;
}

.profile-img {
  padding-top: 50px;
}

ul {
  padding-left: 0;
}

li,
h2 {
  list-style: none;
  font-weight: 800;
  text-transform: uppercase;
  padding: 5%;
  font-size: 18px;
  color: #414141;
}

h3 {
  font-weight: 600;
}
#top {
  text-transform: uppercase;
}

.top {
  margin: auto 0;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: #414141;
}

a:hover {
  text-decoration: underline;
  color: orange;
}
.title {
  font-size: 30px;
}

.bio,
.contact-container {
  color: rgb(173, 173, 173);
  padding-bottom: 25px;
}

.portfolio-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

#portfolio {
  padding: 40px;
}

.project {
  padding-bottom: 25px;
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.contact-info {
  color: rgb(129, 129, 129);
  font-weight: 800;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  border-top: 1px solid rgb(219, 219, 219);
  margin-top: 30px;
}

.name {
  text-transform: capitalize;
}

.footer-nav {
  display: none;
}

/* ------------------------TABLET----------------------- */

@media screen and (min-width: 768px) {
  .main-nav {
    width: 335px;
    display: flex;
    margin: auto;
  }

  .section-1 {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 45px;
  }

  .profile-img {
    padding-top: 0;
    width: 44%;
    height: auto;
  }

  .bio {
    width: 53%;
    padding-right: 25px;
    padding-left: 25px;
    text-align: left;
    font-size: 19px;
  }

  .portfolio-container {
    padding-top: 10px;
  }

  .project {
    float: left;
    width: 45%;
  }

  .contact-container {
    max-width: 75%;
    margin: auto;
  }

  .contact-note {
    font-size: 20px;
  }

  .contact-info {
    font-size: 20px;
  }

  .top {
    display: none;
  }

  .footer-nav {
    display: flex;
  }

  .footer-nav li {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 15px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding-bottom: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .main-nav {
    margin: initial;
    align-items: center;
  }

  .bio {
    padding-left: 50px;
  }

  .project:nth-child(even) {
    margin-right: initial;
  }

  .project.proj-1,
  .project.proj-2,
  .project.proj-4,
  .project.proj-5 {
    margin-right: 5%;
  }

  .project {
    max-width: 25%;
  }

  .profile-img {
    max-width: 100%;
  }

  .contact-container {
    max-width: 50%;
  }

  footer {
    padding-bottom: 0;
  }

  .name {
    padding-top: 3%;
  }
}
